<aside class="sidebar">

  <div class="menu-section">

    <h2>Gerenciamento de Cadastros</h2>

      <ul>

        <li routerLink="/admin-cadastro-usuario">
          <img src="assets/person.png" alt="Pessoa">
          Novos Usuários
        </li>

        <li routerLink="/admin-cadastro-livro">
          <img src="assets/livro.png" alt="Livro">
          Novos Livros
        </li>

        <li routerLink="/admin-cadastro-biblioteca">
          <img src="assets/biblioteca_cadastro.png" alt="Biblioteca">
          Novas Bibliotecas
        </li>

        <li routerLink="/admin-cadastro-emprestimo">
          <img src="assets/emprestimo.png" alt="Emprestimo">
          Novos Empréstimos
        </li>

      </ul>

    </div>

  <div class="menu-section">

    <h2>Listas e Filtros</h2>

    <ul>

      <li routerLink="/admin-listar-usuarios">
        <img src="assets/people.png" alt="Pessoas">
        Todos os Usuários
      </li>

      <li routerLink="/admin-listar-livros">
        <img src="assets/livro.png" alt="Livro">
        Todos os Livros
      </li>

      <li routerLink="/admin-listar-bibliotecas">
        <img src="assets/biblioteca_cadastro.png" alt="Biblioteca">
        Todas as Bibliotecas
      </li>

      <li routerLink="/admin-listar-emprestimos">
        <img src="assets/emprestimo.png" alt="Emprestimo">
        Todos os Empréstimos
      </li>

    </ul>

  </div>

</aside>